
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><%= link_to "", "https://www.youtube.com", class: "fa fa-youtube" %></li>
          <li><%= link_to "", "https://www.instagram.com", class: "fa fa-instagram" %></li>
          <li><%= link_to "", "https://www.facebook.com", class: "fa fa-facebook" %></li>
          <li><%= link_to "", "https://www.twitter.com", class: "fa fa-twitter" %></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>
